#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
    position: relative;
    left: 40px;
    display: block;
}
#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
#x_axis {
    position: relative;
    left: 40px;
    height: 40px;
}