**/.DS_Store
**/__pycache__
*.sublime-project
*.sublime-workspace
venv

.circleci
.coverage
.coveragerc
.docker-build
.git
.gitattributes
.github
.gitignore
.gitmodules
.pytest_cache
.readthedocs.yml
contribute.json
docker-compose.yml
my.env

docs/_build/
ichnaea/content/static/datamap/csv/
ichnaea/content/static/datamap/quadtrees/
ichnaea/content/static/datamap/shapes/
ichnaea/content/static/datamap/tiles/
