.*
*~
*.db
*.dll
*.egg-info
*.log
*.pid
*.py[co]
*.so
*.sublime-*
celerybeat-schedule
coverage.xml
data/
nosetests.xml
pip-selfcheck.json
pyvenv.cfg
bin/
bower_components/
build/
coverage/
datamaps/
dist/
docs/build/doctrees/
docs/build/html/
ichnaea/content/static/tiles/
include/
lib/
lib64/
libmaxminddb/
logs/
man/
node_modules/
pngquant/
shapely/
src/
