.*
*~
*.egg-info
*.log
*.pid
*.sublime-*
celerybeat-schedule
coverage.xml
nosetests.xml
pip-selfcheck.json
pyvenv.cfg
bin/
bower_components/
build/
coverage/
data/
datamaps/
docker/
dist/
docs/build/doctrees/
docs/build/html/
ichnaea/geocalc.c
ichnaea/content/static/tiles/
include/
lib/
lib64/
libmaxminddb/
logs/
man/
node_modules/
pngquant/
shapely/
src/

# only works in docker 1.10+
**/*.py[co]
**/*.so

# until then, sigh!
*.py[co]
*/*.py[co]
*/*/*.py[co]
*/*/*/*.py[co]
*/*/*/*/*.py[co]
*/*/*/*/*/*.py[co]

*.so
*/*.so
*/*/*.so
*/*/*/*.so
*/*/*/*/*.so
*/*/*/*/*/*.so
