.*
*~
*.db
*.dll
*.egg-info
*.log
*.log.*
*.pid
*.py[co]
*.so
*.sublime-*
celerybeat-schedule
coverage.xml
loadtest/src/*.json
nosetests.xml
pip-selfcheck.json
private-*.ini
pyvenv.cfg
bin/
bower_components/
/build/
coverage/
datamaps/
dist/
docs/build/doctrees/
ichnaea/content/static/tiles/
include/
lib/
lib64/
libmaxminddb/
logs/
man/
node_modules/
shapely/
src/
wheelhouse/
