*~
*.py[co]
*.so
*.sublime-*
*.awscreds
.DS_Store
docs/_build/
ichnaea/content/static/datamap/csv/
ichnaea/content/static/datamap/quadtrees/
ichnaea/content/static/datamap/shapes/
ichnaea/content/static/datamap/tiles/

my.env
.docker-build
