.*
*~
*.db
*.dll
*.egg-info
*.log
*.pid
*.py[co]
*.so
*.sublime-*
celerybeat-schedule
coverage.xml
nosetests.xml
pip-selfcheck.json
pyvenv.cfg
bin/
bower_components/
/build/
coverage/
datamaps/
dist/
docs/build/doctrees/
docker/python/.bowerrc
docker/python/*.json
docker/python/*.txt
ichnaea/content/static/tiles/
include/
lib/
lib64/
libmaxminddb/
logs/
man/
node_modules/
pngquant/
shapely/
src/
