# This is an example haproxy config file, which can be used to create
# a proxy for MySQL connections and load-balance across multiple
# read-replicas, with a fallback to the master node in case all replicas
# are unresponsive.

# This relies on a mysql user called lbcheck to be present. This user is
# created automatically in the location_initdb command, or manually via:
# use mysql;
# create user lbcheck;
# flush privileges;

global
    maxconn 1024
    spread-checks 2

defaults
    mode tcp
    timeout connect 10s
    timeout client 60s
    timeout server 60s

listen stats
    bind 127.0.0.1:3308
    mode http
    stats enable
    stats refresh 5s
    stats uri /

listen mysql
    balance roundrobin
    bind 127.0.0.1:3307
    mode tcp
    option log-health-checks
    option mysql-check user lbcheck
    option tcpka
    server master 127.0.0.1:3306 check inter 5s backup
    server rr1 127.0.0.1:3306 check inter 5s
