include LICENSE
include Makefile
include MANIFEST.in
include *.ini
include *.json
include *.rst

recursive-include alembic *
recursive-exclude alembic *.pyc *.pyo .DS_Store __pycache__
recursive-include ichnaea *
recursive-exclude ichnaea *.pyc *.pyo .DS_Store __pycache__
recursive-exclude ichnaea/content/static/tiles *
recursive-include requirements *
