/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
}

a img { border: 0; }

/* fonts */

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-Light-webfont.eot');
    src: url('/static/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-LightItalic-webfont.eot');
    src: url('/static/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-LightItalic-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Regular-webfont.eot');
    src: url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Bold-webfont.eot');
    src: url('/static/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Italic-webfont.eot');
    src: url('/static/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Basics */

html { background: #fff; }

body {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #fff;
}

#outer-wrapper {
    position: relative;
    border-top: 2px solid #fff;
    min-width: 992px;
    background: #f9f9f9 url(/static/images/bg-stone.png) 0 0 repeat-x;
}

#wrapper {
    padding-bottom: 40px;;
}

a {
    color: rgb(0,150,221);
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: rgb(0,83,159);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    display: block;
    margin: 0 0 12px 0;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
    color: #484848;
}

h1 {
    font-size: 36px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p,
ul,
ol,
dl,
hgroup {
    margin: 0 0 24px 0;
}

li {
    margin-left: 24px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table caption {
    text-align: left;
    padding-bottom: 1px;
    margin-bottom: -1px;
    width: 100%;
}

.table th, .table td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 0;
    text-align: left;
}
.table thead th, .table thead td {
    border-top: 0;
    padding-top: 0;
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
}

.half-width {
    width: 400px;
    margin: 0 20px;
}

#masthead,
#main-feature,
#main-content,
#colophon {
    display: block;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
    width: 896px;
    
}

#main-feature {
    padding-bottom: 10px;
}


#masthead:after, #main-feature:after, #main-content:after, #colophon:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

#masthead h2 {
    padding: 30px 0 20px 0;
    margin: 0;
}

#masthead nav {
    float: right;
    margin-right: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

#masthead nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

#masthead nav li a {
    display: inline-block;
    padding: 12px;
    font-weight: normal;
}

#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
    color: #484848;
}

#colophon {
    color: #666;
    padding: 48px 0;
    font-size: 12px;
    line-height: 18px;
}

#colophon a, #colophon a:link, #colophon a:visited {
    color: rgb(0,150,221);
}

#colophon p {
    margin-bottom: 10px;
}

#colophon .footer-logo {
    float: left;
    width: 220px;
    margin: 0 20px;
}

#colophon .footer-license {
    float: left;
    width: 320px;
    margin: 0 20px;
}

.footer-nav {
    float: left;
    width: 140px;
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.footer-nav li {
    list-style-type: none;
    margin: 0 0 2px 0;
}

/* Stats, Charts */

#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
    position: relative;
    left: 40px;
    display: block;
}
#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
#x_axis {
    position: relative;
    left: 40px;
    height: 40px;
}

/* Map */

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}
.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}
#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
}
