/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
}

a img { border: 0; }

/* fonts */

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-Light-webfont.eot');
    src: url('/static/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-LightItalic-webfont.eot');
    src: url('/static/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-LightItalic-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Regular-webfont.eot');
    src: url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Bold-webfont.eot');
    src: url('/static/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Italic-webfont.eot');
    src: url('/static/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Basics */

html { background: #fff; }

body {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Open Sans', 'Droid Arabic Naskh', sans-serif;
    color: #333;
    background: #fff;
}

#outer-wrapper {
    position: relative;
    border-top: 2px solid #fff;
    background: #f9f9f9 url(/static/images/bg-stone.png) 0 0 repeat-x;
}

#wrapper {
    padding-bottom: 20px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.separator {
    clear: both;
}

a {
    color: rgb(0,150,221);
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: rgb(0,83,159);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light', 'Droid Arabic Naskh', sans-serif;
    font-weight: normal;
    display: block;
    margin: 0 0 12px 0;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
    color: #484848;
}

h1 {
    font-size: 36px;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p,
ul,
ol,
dl,
hgroup {
    margin: 0 0 20px 0;
}

li {
    margin-left: 20px;
}

pre,
code {
    color: #666;
    font-size: 14px;
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table caption {
    text-align: left;
    padding-bottom: 1px;
    margin-bottom: -1px;
    width: 100%;
}

.table th, .table td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 0;
    text-align: left;
}
.table thead th, .table thead td {
    border-top: 0;
    padding-top: 0;
    font-size: 16px;
    font-family: 'Open Sans Light', 'Droid Arabic Naskh', sans-serif;
    font-weight: normal;
}

.half-left,
.half-right {
    width: 400px;
    margin: 0 20px;
}
.half-left {
    float: left;
}
.half-right {
    float: right;
}

#masthead,
#main-feature,
#main-content,
#colophon {
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 960px;
}

#main-feature,
#main-content {
    padding-bottom: 20px;
}


#masthead:after, #main-feature:after, #main-content:after, #colophon:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

#masthead h2 {
    padding: 30px 0 20px 0;
}

#masthead nav {
    float: right;
    margin-right: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans', 'Droid Arabic Naskh', sans-serif;
}

#masthead nav ul {
    margin-bottom: 0;
}
#masthead nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

#masthead nav li a {
    display: inline-block;
    padding: 12px;
    font-weight: normal;
}

#masthead nav li .current {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(/static/images/menu-current.png);
}

#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
    color: #484848;
}

#colophon {
    color: #666;
    padding: 40px 0;
    font-size: .875em;
    line-height: 1.285;
    background: #fff;
    width: 100%;
    margin: 1em 0 0;
}

#colophon .row {
    width: 960px;
    margin: 0 auto;
}

#colophon .footer-logo {
    float: left;
    width: 140px;
    margin: 0 10px;
}

#colophon .footer-license {
    float: left;
    width: 220px;
    margin: 0 10px;
}

#colophon .footer-nav {
    float: left;
    width: 140px;
    margin: 0 10px;
    font-family: 'Open Sans', 'Droid Arabic Naskh', sans-serif;
}

#colophon .footer-nav li {
    list-style-type: none;
    margin: 0 0 2px 0;
}

#colophon a,
#colophon a:link,
#colophon a:visited {
    color: rgb(0,150,221);
}

#colophon a:hover,
#colophon a:focus,
#colophon a:active {
    color: #0073aa;
}

#colophon p {
    margin-bottom: 10px;
}

/* Stats, Charts */

.chart_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}
.rickshaw_graph {
    width: 760px;
}
.chart {
    position: relative;
    left: 40px;
    display: block;
}
.chart_y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.chart_x_axis {
    position: relative;
    left: 40px;
    height: 40px;
}

/* Map */

#map {
    top: 0;
    bottom: 0;
    width: 970px;
    height: 600px;
}

/* Mobile Layout: 320px */

@media only screen and (max-width: 760px) {
    #wrapper {
        width: 320px;
        padding-bottom: 5px;
    }

    #masthead,
    #main-feature,
    #main-content,
    #colophon {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .row {
        margin-left: auto;
    }
    #masthead h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #masthead nav {
        float: none;
        padding-top: 10px;
        margin-left: 10px;
    }
    #masthead nav ul li {
        display: block;
    }
    #masthead nav ul li a {
        display: block;
        padding: 0;
    }
    #masthead nav ul li .current {
        background-image: none;
    }
    h1 {
        font-size: 32px;
        letter-spacing: -1px;
    }
    h2,
    .billboard h2 {
        font-size: 28px;
        letter-spacing: -0.5px;
    }
    h3 {
        font-size: 24px;
        letter-spacing: -0.25px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    #colophon .row {
        width: 300px;
    }
    #colophon .footer-logo,
    #colophon .footer-license,
    #colophon .footer-nav {
        width: auto;
        float: none;
        margin-bottom: 20px;
    }
    .table th, .table td {
        padding: 5px 5px 5px 0;
    }
    .half-left, .half-right {
        width: 300px;
        margin: 0;
    }
    .half-right {
        margin-top: 10px;
        float: left;
    }
    .chart_container {
        width: 260px;
    }
    .rickshaw_graph {
        width: 220px;
    }
    #map {
        width: 300px;
        height: 300px;
    }
}

/* Wide Mobile Layout: 480px */

@media only screen and (min-width: 480px) and (max-width: 760px) {
    #wrapper {
        width: 440px;
    }
    #masthead,
    #main-feature,
    #main-content {
        width: auto;
    }
    #colophon .row {
        width: 420px;
    }
    #map {
        width: 420px;
        height: 300px;
    }
}

/* Tablet Layout: 760px */

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    #wrapper {
        width: 760px;
    }
    #masthead,
    #main-feature,
    #main-content {
        width: 720px;
    }
    #colophon .row {
        width: 720px;
    }
    #colophon .footer-logo,
    #colophon .footer-license {
        float: left;
        width: 180px;
        margin: 0 10px;
    }
    #colophon .footer-nav {
        float: left;
        width: 140px;
        margin: 0 10px;
    }
    #colophon .footer-logo {
        float: none;
        margin-bottom: 20px;
    }
    .half-left,
    .half-right {
        width: 340px;
        margin: 0 10px;
    }
    .chart_container {
        width: 600px;
    }
    .rickshaw_graph {
        width: 560px;
    }
    #map {
        width: 720px;
        height: 360px;
    }
}
