/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
}

a img { border: 0; }

/* Zilla fonts */

@font-face {
    font-family: 'Zilla Slab';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ZillaSlab-Regular.woff2') format('woff2'),
         url('../fonts/ZillaSlab-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/ZillaSlab-Italic.woff2') format('woff2'),
         url('../fonts/ZillaSlab-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/ZillaSlab-Bold.woff2') format('woff2'),
         url('../fonts/ZillaSlab-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/ZillaSlab-BoldItalic.woff2') format('woff2'),
         url('../fonts/ZillaSlab-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab Highlight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ZillaSlabHighlight-Regular.woff2') format('woff2'),
         url('../fonts/ZillaSlabHighlight-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab Highlight';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/ZillaSlabHighlight-Bold.woff2') format('woff2'),
         url('../fonts/ZillaSlabHighlight-Bold.woff2') format('woff');
}

/* Open Sans fonts */

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-italic.woff2') format('woff2'),
         url('../fonts/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bolditalic.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* Basics */

html { background: #fff; }

body {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Zilla Slab', 'Open Sans', sans-serif;
    color: #000;
    background: #fff;
}

#outer-wrapper {
    position: relative;
    border-top: 2px solid #fff;
}

#wrapper {
    padding-bottom: 20px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.separator {
    clear: both;
}

a {
    color: #0395d6;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #36c8ff;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', 'Open Sans Light', sans-serif;
    font-weight: 700;
    display: block;
    line-height: 1.25;
    margin: 0 0 10px 0;
    color: #000;
}

h1 {
    font-size: 36px;
    color: #fff;
    background-color: #000;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

p,
ul,
ol,
dl,
hgroup {
    margin: 0 0 20px 0;
}

li {
    margin-left: 20px;
}

pre,
code {
    color: #0395d6;
    font-size: 16px;
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}

.table caption {
    text-align: left;
    padding-bottom: 1px;
    margin-bottom: -1px;
    width: 100%;
}

.table th, .table td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 0;
    text-align: left;
    font-size: 16px;
}
.table thead th, .table thead td {
    border-top: 0;
    padding-top: 0;
    font-size: 20px;
    font-family: 'Zilla Slab', 'Open Sans Light', sans-serif;
    font-weight: normal;
}
.table th.text-right, .table td.text-right {
    text-align: right;
}

.half-left,
.half-right {
    width: 460px;
    margin: 0;
}
.half-left {
    float: left;
    margin-right: 10px;
}
.half-right {
    float: right;
    margin-left: 10px;
}
.text-justified {
    text-align: justify;
}
.italic {
    font-style: italic;
}

#masthead,
#main-feature,
#main-content,
#colophon {
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 960px;
}

#main-feature,
#main-content {
    padding-bottom: 20px;
}

#main-title {
    padding: 5px 5px;
    display: inline-block;
}

#masthead:after, #main-feature:after, #main-content:after, #colophon:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

#masthead nav {
    float: right;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

#masthead nav ul {
    margin-bottom: 0;
}

#masthead nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

#masthead nav li a {
    color: #000;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
}

#masthead nav li a:hover {
    color: #f0881e;
}

.header-logo {
    padding-top: 20px;
}

.header-logo img {
    float: left;
    padding-right: 5px;
}

.header-logo h2 {
    font-size: 30px;
    padding-top: 5px;
}

.header-logo h2 a {
    font-family: 'Zilla Slab Highlight', 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

#colophon {
    padding: 40px 0;
    font-size: .875em;
    line-height: 1.285;
    background: #fff;
    width: 100%;
    margin: 1em 0 0;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}

#colophon .row {
    width: 960px;
    margin: 0 auto;
}

#colophon .footer-logo {
    float: left;
    width: 120px;
    height: 34px;
    margin: 0;
}

#colophon .footer-license {
    float: left;
    width: 220px;
    margin: 0 10px;
}

#colophon .footer-nav {
    float: left;
    width: 140px;
    margin: 0 10px;
    font-family: 'Zilla Slab', 'Open Sans', sans-serif;
    font-size: 15px;
}

#colophon .footer-nav li {
    list-style-type: none;
    margin: 0 0 2px 0;
}

#colophon .footer-nav li a {
    color: #36c8ff;
}

#colophon .footer-nav li a:hover {
    text-decoration: underline;
}

#colophon p {
    margin-bottom: 10px;
}

/* An arbitrary container for translatable strings to use in scripts */
#strings {
    display: none;
}

/* Tabpanel */

.highlight {
    margin: 15px 0;
    padding: 15px;
    padding-right: 35px;
    color: #000;
    background-color: #b8d8e9;
    box-shadow: 1px 1px 2px #999;
    line-height: 1.5;
}

.highlight h2, .highlighth3, .highlight h4 {
    line-height: 1.3;
}

.highlight h4 {
    font-size: 20px;
}

.highlight hr {
    margin: 20px auto;
    border-bottom: 1px solid #ccc;
    width: 80%;
}

[tabindex] {
    outline: 0;
}

[role="tabpanel"], [role="tabpanel"] p {
    margin-top: 10px;
    margin-bottom: 10px;
}

[role="tabpanel"] ul {
    margin-bottom: 0;
}

[role="tabpanel"] li {
    padding-bottom: 0.5em;
}

[role="tabpanel"] li:last-child {
    padding-bottom: 0;
}

[role="tab"] {
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Zilla Slab', 'Open Sans Light', sans-serif;
    font-weight: bold;
}

[role="tab"] a {
    margin: 0 .2em;
}

[aria-hidden="true"] {
    display: none;
}


/* Stats, Charts */

.chart_container {
    position: relative;
    margin-top: 20px;
    font-family: 'Zilla Slab', 'Open Sans', sans-serif;
    width: 960px;
}
.chart {
    position: relative;
    left: 20px;
    display: block;
    width: 100%;
    height: 100%;
}
#chart_tooltip {
    font-size: 18px;
}
.flot-tick-label {
    font-size: 14px;
}
.flot-x-axis .flot-tick-label {
    margin-top: 5px;
}
.flot-y-axis .flot-tick-label {
    margin-right: 5px;
}

/* API */

.api-callout-open {
    clear: right;
    float: right;
    width: 220px;
    margin: 0 10px;
}

.api-callout-open .intro {
    font-size: 0.875em;
    margin: 0 0 20px;
    padding: 20px;
    text-align: center;
}

.api-callout-open h4 {
    color: #fff;
    background-color: #f0881e;
    padding: 5px;
}

.api-callout-asis {
    background-color: #b8d8e9;
    clear: both;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.api-callout-asis p {
    margin: 0;
    padding: 20px;
    text-align: justify;
}

/* Map */

#map {
    top: 0;
    bottom: 0;
    width: 970px;
    height: 600px;
}

.map-callout {
    width: 256px;
    height: 220px;
}
.map-callout-caption {
    position: absolute;
    top: 205px;
    font-size: 0.875em;
    padding-bottom: 5px;
}
.map-callout a {
    height: 200px;
}
.map-callout img {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    clip: rect(0px, 256px, 200px, 0px);
    opacity: 1;
}
.map-callout-left {
    width: 664px;
    margin-right: 20px;
    float: left;
}
.map-callout-right {
    width: 256px;
    margin-left: 20px;
    float: right;
}

/* App callout for apps page */

.app-callout-left {
    width: 770px;
    margin-right: 20px;
    float: left;
}
.app-callout-right {
    width: 150px;
    margin-left: 20px;
    float: right;
}

/* License callout for download page */

.callout-license h4 {
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 5px;
}

.callout-license .highlight {
    margin-top: 5px;
}

/* Leaflet locate control */

.leaflet-touch .leaflet-bar-part-single {
    -webkit-border-radius: 7px 7px 7px 7px;
            border-radius: 7px 7px 7px 7px;
    border-bottom: none;
}
.leaflet-touch .leaflet-control-locate {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}

/* Mapbox specific adjustments */
.leaflet-control-locate a {
  padding: 3px 0 0 8px;
}
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 4px;
}

/* Leaflet geocoder control */

.leaflet-control-mapbox-geocoder-results {
    background-color: rgb(255, 255, 255);
}

/* Data table */

.dataTable {
    border-top: 3px solid #0096dd;
    border-bottom: 2px solid #0096dd !important;
}

.fixedHeader .dataTable {
    border-bottom: 0 !important;
}

.dataTable thead th {
    background: #fefefe !important;
    border-bottom: 1px solid #ccc !important;
    font-size: 16px !important;
    padding: 10px 16px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dataTable tbody td {
    border-top: 1px solid #eee;
    padding: 8px 16px !important;
}

.dataTable tbody tr {
    background-color: transparent !important;
}

.dataTable tbody tr:first-child td {
    border-top: 0;
}

.dataTable tbody tr:nth-child(even) {
    background-color: #f0f0f0 !important;
}

.dataTable tbody tr:hover {
    background-color: #f0f0f0 !important;
}

.dataTable tbody tr:nth-child(even):hover {
    background-color: #eee !important;
}

.dataTable thead th.sorting_asc:after,
.dataTable thead th.sorting_desc:after {
    background: url('../images/sort.svg') no-repeat;
    background-size: 10px 6px;
    content: '\A0';
    display: inline-block;
    height: 6px;
    width: 10px;
    position: relative;
    top: 7px;
    left: 6px;
}

.dataTable thead th.sorting_asc:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 8px;
}

/* Developer Terms of Service: Mozilla Location Service Query API  */

/* Number <h3> sections with "1. ", "2. " */
section.terms-of-service {
    counter-reset: H3
}
section.terms-of-service h3:before {
    content: counter(H3) ". ";
    counter-increment: H3;
}

/* Show definitions on a single line, underline the term, separate term and definition with dash */
section.terms-of-service dt {
    display: inline-block;
    text-decoration: underline;
}

section.terms-of-service dd:before {
    content: ' - ';
}

section.terms-of-service dd {
    display: inline;
    margin: 0;
}

section.terms-of-service dd:after{
  display: block;
  content: '';
  margin-bottom: 1em;
}

/* Number list items with (a), (b) */
section.terms-of-service ol {
    counter-reset: tos-list;
}
section.terms-of-service ol > li {
    list-style: none;
    position: relative;
    margin-bottom: 1em;
}
section.terms-of-service ol > li:before {
    counter-increment: tos-list;
    content: "(" counter(tos-list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

/* Underline legal terms */
section.terms-of-service span.legal-term {
    text-decoration: underline;
}

/* Show disclaimer in all uppercase */
section.terms-of-service .text-uppercase-disclaimer {
    text-transform: uppercase;
}

/* Mobile Layout: 320px */

@media only screen and (max-width: 760px) {
    #wrapper {
        width: 320px;
        padding-bottom: 5px;
    }
    #masthead,
    #main-feature,
    #main-content,
    #colophon {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .row {
        margin-left: auto;
    }
    #masthead nav {
        float: none;
        padding-top: 10px;
        margin-left: 10px;
    }
    #masthead nav ul li {
        display: block;
    }
    #masthead nav ul li a {
        display: block;
        padding: 0;
    }
    #masthead nav ul li .current {
        background-image: none;
    }
    h1 {
        font-size: 32px;
        letter-spacing: -1px;
    }
    h2,
    .billboard h2 {
        font-size: 28px;
        letter-spacing: -0.5px;
    }
    h3 {
        font-size: 24px;
        letter-spacing: -0.25px;
    }
    h4 {
        font-size: 20px;
    }
    #colophon .row {
        width: 300px;
    }
    #colophon .footer-logo,
    #colophon .footer-license,
    #colophon .footer-nav {
        width: auto;
        float: none;
        margin-bottom: 20px;
    }
    #colophon .footer-logo {
        width: 120px;
    }
    .table th, .table td {
        padding: 5px 5px 5px 0;
    }
    .half-left, .half-right {
        width: 300px;
    }
    .half-left {
        margin-right: 0;
    }
    .half-right {
        margin-left: 0;
        margin-top: 10px;
        float: left;
        clear: both;
    }
    .text-justified {
        text-align: left;
    }
    .chart_container {
        width: 260px;
    }
    #map {
        width: 300px;
        height: 300px;
    }
    .map-callout-left, .map-callout-right,
    .app-callout-left, .app-callout-right {
        width: auto;
        margin: 0;
    }
    .map-callout-right,
    .app-callout-right {
        float: left;
        margin-bottom: 10px;
    }
    .map-callout {
        position: relative;
        width: 256px;
        padding-bottom: 20px;
    }
    #region-stats_wrapper {
        margin: 0 -10px;
    }
}

/* Narrow Mobile Layout: Less than 480px */

@media only screen and (max-width: 479px) {
    .api-callout-open {
        float: none;
        width: auto;
    }
    .api-callout-open .intro {
        margin: 0;
        padding: 0;
    }
}

/* Wide Mobile Layout: 480px */

@media only screen and (min-width: 480px) and (max-width: 760px) {
    #wrapper {
        width: 440px;
    }
    #masthead,
    #main-feature,
    #main-content {
        width: auto;
    }
    #colophon .row {
        width: 420px;
    }
    #map {
        width: 420px;
        height: 300px;
    }
}

/* Tablet Layout: 760px */

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    #wrapper {
        width: 760px;
    }
    #masthead,
    #main-feature,
    #main-content {
        width: 720px;
    }
    #colophon .row {
        width: 720px;
    }
    #colophon .footer-logo,
    #colophon .footer-license {
        float: left;
        width: 120px;
        margin: 0 10px;
    }
    #colophon .footer-nav {
        float: left;
        width: 140px;
        margin: 0 10px;
    }
    #colophon .footer-logo {
        float: none;
        margin-bottom: 20px;
    }
    .half-left,
    .half-right {
        width: 350px;
    }
    .half-left {
        margin-right: 10px;
    }
    .half-right {
        margin-left: 10px;
    }
    .chart_container {
        width: 660px;
    }
    #map {
        width: 720px;
        height: 360px;
    }
    .map-callout-left {
        width: 440px;
        margin-right: 10px;
    }
    .map-callout-right {
        width: 260px;
        margin-left: 10px;
    }
    .app-callout-left {
        width: 550px;
        margin-right: 10px;
    }
    .app-callout-right {
        width: 150px;
        margin-left: 10px;
    }
    .highlight {
        margin: 15px -15px;
    }
}
