# This file is for settings that are specific to your docker local development
# environment. Since these are specific to your local development environment,
# don't check them in.

# If you want to set the uid and gid of the app user that we use in the
# containers, you can do that with these two variables.
# ICHNAEA_UID=
# ICHNAEA_GID=
#
# Set this to the Mapbox API token.
# MAPBOX_TOKEN=

# Set this if you're having serious problems that need Pyramid debugging.
# PYRAMID_DEBUG_ALL=True

# Apple Silicon (arm64) users can't use MySQL 5.7, because the docker images
# are available for amd64 only.
#
# Option 1: MariaDB 10.5 - Compatible with MySQL, has amd64 image
# ICHNAEA_DOCKER_DB_ENGINE=mariadb_10_5
