version: 2
jobs:
  build:
    branches:
        ignore:
            # Old feature branch
            - 1.5.x
            # Generated docs hosted on GitHub
            - gh-pages
            # 2015 experiment to use ReadTheDocs
            - readthedocs
    docker:
      - image: mozilla/cidockerbases:docker-latest
    working_directory: /

    steps:
        - run:
            name: Host info
            command: uname -v

        - run:
            name: Install essential packages
            command: |
                apt-get update

        - checkout:
            path: /ichnaea

        - run:
            name: Create version.json
            working_directory: /ichnaea
            command: |
                # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
                printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
                "$CIRCLE_SHA1" \
                "$CIRCLE_TAG" \
                "$CIRCLE_PROJECT_USERNAME" \
                "$CIRCLE_PROJECT_REPONAME" \
                "$CIRCLE_BUILD_URL" > /ichnaea/version.json

        - store_artifacts:
            path: /ichnaea/version.json

        - setup_remote_docker

        - run:
            name: Get Info
            command: |
               docker info
               which docker-compose
               docker-compose --version

        - run:
            name: Build Docker images
            working_directory: /ichnaea
            command: |
                make build

        - run:
            name: Run tests
            working_directory: /ichnaea
            command: |
                make test

        - run:
            name: Push to Dockerhub
            working_directory: /ichnaea
            command: |
              # Quit early if docker credentials are not defined
              if [ "${DOCKER_USER}" == "" ] || [ "${DOCKER_PASS}" == "" ]; then
                echo "Skipping Push to Dockerhub, credentials not available."
                exit 0
              fi

              function retry {
                set +e
                local n=0
                local max=3
                while true; do
                "$@" && break || {
                  if [[ $n -lt $max ]]; then
                    ((n++))
                    echo "Command failed. Attempt $n/$max:"
                  else
                    echo "Failed after $n attempts."
                    exit 1
                  fi
                }
                done
                set -e
              }

              export DOCKER_TAG="${CIRCLE_SHA1}"
              if [ -n "${CIRCLE_TAG}" ]; then
                export DOCKER_TAG="${CIRCLE_TAG}"
              fi
              # push on master or git tag
              if [ "${CIRCLE_BRANCH}" == "master" ] || [ -n "${CIRCLE_TAG}" ]; then
                echo "${DOCKER_PASS}" | docker login -u="${DOCKER_USER}" --password-stdin
                docker tag "local/ichnaea_app" "mozilla/location:${DOCKER_TAG}"
                retry docker push "mozilla/location:${DOCKER_TAG}"

                # push `latest` on master only
                if [ "${CIRCLE_BRANCH}" == "master" ]; then
                  docker tag "local/ichnaea_app" "mozilla/location:latest"
                  retry docker push "mozilla/location:latest"
                fi
              fi

